html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Game Room
        link(rel="stylesheet", href="/styles/gameroom.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    body
        .lobby-container
            .header
                span.room-id Room ID: #{join_code}
                span.room-name Game Name: #{game_name}
            .player-slots
                // Player slots will be filled by AJAX
            .actions
                if is_host
                    button#startGame(type="button") Start Game
                else
                    button#readyBtn(type="button") Ready
                button#leaveLobby(type="button") Leave Lobby
        script.
            $(document).ready(function() {
                function updatePlayers() {
                    $.get('/gameroom/players/#{session_id}', function(data) {
                        let slotsHtml = '';
                        for (let i = 0; i < 4; i++) {
                            if (data.players[i]) {
                                const p = data.players[i];
                                slotsHtml += `<div class="player-slot">
                                    <span>${p.username}</span>
                                    ${p.is_host ? '<span style="float:right;">Host</span>' : (p.is_ready ? '<span style="float:right;">Ready</span>' : '')}
                                </div>`;
                            } else {
                                slotsHtml += `<div class="player-slot"><span>+</span></div>`;
                            }
                        }
                        $('.player-slots').html(slotsHtml);
                    });
                }
                updatePlayers();
                setInterval(updatePlayers, 500);

                $('#readyBtn').click(function() {
                    $.post('/gameroom/ready', { session_id: '#{session_id}' }, function(res) {
                        if(res.success) updatePlayers();
                    });
                });
                $('#startGame').click(function() {
                    $.post('/gameroom/start', { session_id: '#{session_id}' }, function(res) {
                        if (res.success) {
                            window.location.href = res.redirect;
                        } else {
                            alert(res.error);
                        }
                    });
                });
                $('#leaveLobby').click(function() {
                    window.location.href = '/dashboard';
                });
                setInterval(function() {
                    $.get('/gameroom/status/' + '#{session_id}', function(res) {
                        if(res.status === 'active') window.location.href = '/gamesession/' + '#{session_id}';
                    });
                }, 1000);
            });